#menu {
  display: flex;
  gap: 4.4rem;

  .link {
    color: #000;
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration: none;
  }
  .link:hover {
    color: #1d9f51;
  }

  .link_active {
    color: #20b15a;
  }
}
